# Binaries
**/bin/
bin-int/
Intermediates/

# Hethor files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Hethor/vendor/VulkanSDK
Hethorite/assets/cache
scripts/__pycache__
